footer.bg-white.py-4.mt-auto
    .d-flex.justify-content-center.fs-2.gap-4
        a.text-gradient(href="https://www.linkedin.com/in/devinreichenbach/") 
            i.bi.bi-linkedin
        a.text-gradient(href="https://github.com/DevinReichenbach") 
            i.bi.bi-github
        a.text-gradient(href='mailto:devinareichenbach@gmail.com')
            i.bi.bi-envelope-fill