doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Devin Reichenbach

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            .container.px-5.my-5
                .text-center.mb-5
                    h1.display-5.fw-bolder.mb-0
                        span.text-gradient.d-inline Resume
                .row.gx-5.justify-content-center

                    .col-lg-11.col-xl-9.col-xxl-8

                        // Experience Section
                        section
                            .d-flex.align-items-center.justify-content-between.mb-4
                                h2.text-secondary.fw-bolder.mb-0 Experience
                                // Download resume button
                                // Note: Set the link href target to a PDF file within your project
                                a.btn.btn-secondary.px-4.py-3(href='assets/DReichenbach Resume.pdf')
                                    .d-inline-block.bi.bi-download.me-2
                                    | Download Resume

                            // Experience Card 1
                            // Experience Card 2
                            .card.shadow.border-0.rounded-4.mb-5.bg-light-cream
                                .card-body.p-5
                                    .row.g-2
                                        .col-12.col-md-6.text-center.text-lg-start.mb-4.mb-lg-0
                                        .bg-lighter-cream.p-4.rounded-4
                                            .text-secondary.fw-bolder.mb-2 Jan 2025 - Present
                                            .mb-2
                                            .medium.fw-bolder Manufacturing Engineering Intern
                                            .small.fw-bolder Volvo CE
                                            .small.text-muted Shippensburg, PA
                                        .col-12.col-md-6.text-center.text-lg-start.mb-4.mb-lg-0
                                        .bg-lighter-cream.p-4.rounded-4
                                            .text-secondary.fw-bolder.mb2 Position Responsibilities
                                            .mb2
                                            .small.ms-4.mb-2
                                                i.bi.bi-circle-fill.pb-1.me-2.center-svg-dot
                                                | Supported the development of an Autonomous Mobile Robot (AMR) to automate the transportation of production materials between manual and robotic welders, enhancing efficiency in the manufacturing process.
                                            .small.ms-4.mb-2 
                                                i.bi.bi-circle-fill.pb-1.me-2.center-svg-dot
                                                | Designed and optimized building layouts using AutoCAD to support efficient workflow and facility planning. 
                                            .small.ms-4.mb-2 
                                                i.bi.bi-circle-fill.pb-1.me-2.center-svg-dot
                                                | Developed and implemented VBA macros in Excel to automate tasks, improving efficiency and encouraging accurate task tracking.
                                            .small.ms-4.mb-2
                                                i.bi.bi-circle-fill.pb-1.me-2.center-svg-dot
                                                | Learned and applied MIG and Stick welding techniques.
                                            .small.ms-4.mb-2
                                                i.bi.bi-circle-fill.pb-1.me-2.center-svg-dot.d-inline
                                                | Reverse-engineered real-life structures and translated them into 3D models using Creo Parametric for manufacturing and engineering applications.
                                        
                            // Experience Card 2
                            .card.shadow.border-0.rounded-4.mb-5.bg-light-cream
                                .card-body.p-5
                                    .row.g-2
                                        .col-12.col-md-6.text-center.text-lg-start.mb-4.mb-lg-0
                                        .bg-lighter-cream.p-4.rounded-4
                                            .text-secondary.fw-bolder.mb-2 Jan 2023 - Jan 2025
                                            .mb-2
                                            .medium.fw-bolder Shift Manager
                                            .small.fw-bolder Karns Quality Foods
                                            .small.text-muted New Bloomfield, PA
                                        .col-12.col-md-6.text-center.text-lg-start.mb-4.mb-lg-0
                                        .bg-lighter-cream.p-4.rounded-4
                                            .text-secondary.fw-bolder.mb2 Position Responsibilities
                                            .mb2
                                            .small.ms-4.mb-2
                                                i.bi.bi-circle-fill.pb-1.me-2.center-svg-dot.d-inline
                                                | Supervising operation facilities 
                                            .small.ms-4.mb-2
                                                i.bi.bi-circle-fill.pb-1.me-2.center-svg-dot.d-inline
                                                | Managing staff members 
                                            .small.ms-4.mb-2
                                                i.bi.bi-circle-fill.pb-1.me-2.center-svg-dot.d-inline
                                                | Store opening and closing procedures which include handling cash deposits and ATM operations
                                            .small.ms-4.mb-2
                                                i.bi.bi-circle-fill.pb-1.me-2.center-svg-dot.d-inline
                                                | Informing next shift manager of pending tasks 
                                            .small.ms-4.mb-2
                                                i.bi.bi-circle-fill.pb-1.me-2.center-svg-dot.d-inline
                                                | Ensuring customer satisfaction  
                                            .small.ms-4.mb-2
                                                i.bi.bi-circle-fill.pb-1.me-2.center-svg-dot.d-inline
                                                | Leading and training new hire employees

                            // Experience Card
                            .card.shadow.border-0.rounded-4.mb-5.bg-light-cream
                                .card-body.p-5
                                    .row.g-2
                                        .col-12.col-md-6.text-center.text-lg-start.mb-4.mb-lg-0
                                        .bg-lighter-cream.p-4.rounded-4
                                            .text-secondary.fw-bolder.mb-2 Feb 2022 - Feb 2023
                                            .mb-2
                                            .small.fw-bolder Stock Associate
                                            .small.fw-bolder Karns Quality Foods
                                            .small.text-muted New Bloomfield, PA


                        // Skills Section
                        section(id="skills")
                            // Skillset Card
                            .card.shadow.border-0.rounded-4.mb-5.bg-light-cream
                                .card-body.p-5
                                    // Professional skills list
                                    .mb-5
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-tools
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Application Experience
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-lighter-cream.rounded-4.p-3.h-100
                                                    | Fusion 360
                                                    .ms-auto
                                                        i.bi.bi-star-fill.ml-2.primary-star-color
                                                        i.bi.bi-star-fill.ml-2.primary-star-color
                                                        i.bi.bi-star-fill.ml-2.primary-star-color 
                                                        i.bi.bi-star-fill.ml-2.primary-star-color 
                                                        i.bi.bi-star.ml-2 
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-lighter-cream.rounded-4.p-3.h-100 
                                                    | Microsoft Suite
                                                    .ms-auto
                                                        i.bi.bi-star-fill.ml-2.primary-star-color
                                                        i.bi.bi-star-fill.ml-2.primary-star-color
                                                        i.bi.bi-star-fill.ml-2.primary-star-color 
                                                        i.bi.bi-star-fill.ml-2.primary-star-color 
                                                        i.bi.bi-star.ml-2 
                                            .col
                                                .d-flex.align-items-center.bg-lighter-cream.rounded-4.p-3.h-100
                                                    | Creo Parametric
                                                    .ms-auto
                                                        i.bi.bi-star-fill.ml-2.primary-star-color
                                                        i.bi.bi-star-fill.ml-2.primary-star-color
                                                        i.bi.bi-star-fill.ml-2.primary-star-color 
                                                        i.bi.bi-star.ml-2 
                                                        i.bi.bi-star.ml-2 
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-lighter-cream.rounded-4.p-3.h-100
                                                    | Git
                                                    .ms-auto
                                                        i.bi.bi-star-fill.ml-2.primary-star-color
                                                        i.bi.bi-star-fill.ml-2.primary-star-color
                                                        i.bi.bi-star-fill.ml-2.primary-star-color 
                                                        i.bi.bi-star.ml-2 
                                                        i.bi.bi-star.ml-2 
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-lighter-cream.rounded-4.p-3.h-100
                                                    | OrCAD PSPICE
                                                    .ms-auto
                                                        i.bi.bi-star-fill.ml-2.primary-star-color
                                                        i.bi.bi-star-fill.ml-2.primary-star-color
                                                        i.bi.bi-star-fill.ml-2.primary-star-color 
                                                        i.bi.bi-star.ml-2 
                                                        i.bi.bi-star.ml-2 
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-lighter-cream.rounded-4.p-3.h-100
                                                    | AutoCAD
                                                    .ms-auto
                                                        i.bi.bi-star-fill.ml-2.primary-star-color
                                                        i.bi.bi-star-fill.ml-2.primary-star-color
                                                        i.bi.bi-star.ml-2 
                                                        i.bi.bi-star.ml-2 
                                                        i.bi.bi-star.ml-2 
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-lighter-cream.rounded-4.p-3.h-100
                                                    | Docker
                                                    .ms-auto
                                                        i.bi.bi-star-fill.ml-2.primary-star-color
                                                        i.bi.bi-star.ml-2.primary-star-color
                                                        i.bi.bi-star.ml-2.primary-star-color 
                                                        i.bi.bi-star.ml-2 
                                                        i.bi.bi-star.ml-2 
                                    // Languages list
                                    .mb-0
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-code-slash
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Languages
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-lighter-cream.rounded-4.p-3.h-100
                                                    | Python
                                                    .ms-auto
                                                        i.bi.bi-star-fill.ml-2.primary-star-color
                                                        i.bi.bi-star-fill.ml-2.primary-star-color
                                                        i.bi.bi-star-fill.ml-2.primary-star-color 
                                                        i.bi.bi-star.ml-2 
                                                        i.bi.bi-star.ml-2 
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-lighter-cream.rounded-4.p-3.h-100
                                                    | C
                                                    .ms-auto
                                                        i.bi.bi-star-fill.ml-2.primary-star-color
                                                        i.bi.bi-star-fill.ml-2.primary-star-color
                                                        i.bi.bi-star-fill.ml-2.primary-star-color 
                                                        i.bi.bi-star.ml-2 
                                                        i.bi.bi-star.ml-2    
                                            .col
                                                .d-flex.align-items-center.bg-lighter-cream.rounded-4.p-3.h-100 
                                                    | HTML/CSS
                                                    .ms-auto
                                                        i.bi.bi-star-fill.ml-2.primary-star-color 
                                                        i.bi.bi-star-fill.ml-2.primary-star-color 
                                                        i.bi.bi-star-fill.ml-2.primary-star-color 
                                                        i.bi.bi-star.ml-2 
                                                        i.bi.bi-star.ml-2 
                                        .row.row-cols-1.row-cols-md-3
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-lighter-cream.rounded-4.p-3.h-100 
                                                    | Java
                                                    .ms-auto
                                                        i.bi.bi-star-fill.ml-2.primary-star-color 
                                                        i.bi.bi-star-fill.ml-2.primary-star-color 
                                                        i.bi.bi-star.ml-2 
                                                        i.bi.bi-star.ml-2 
                                                        i.bi.bi-star.ml-2 
                                                
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-lighter-cream.rounded-4.p-3.h-100
                                                    | Typescript
                                                    .ms-auto
                                                        i.bi.bi-star-fill.ml-2.primary-star-color. 
                                                        i.bi.bi-star-fill.ml-2.primary-star-color 
                                                        i.bi.bi-star.ml-2 
                                                        i.bi.bi-star.ml-2 
                                                        i.bi.bi-star.ml-2 
                                                        
                        // Divider
                        .pb-5

                        // Education Section
                        section
                            h2.text-secondary.fw-bolder.mb-4 Education

                            // Education Card 1
                            .card.shadow.border-0.rounded-4.mb-5.bg-light-cream
                                .card-body.p-5
                                    .row.g-2
                                        .col-12.col-md-6.text-center.text-lg-start.mb-4.mb-lg-0
                                        .bg-lighter-cream.p-4.rounded-4
                                            .text-secondary.fw-bolder.mb-2 2021 - Anticipated May 2025 Graduation
                                            .mb-2
                                            .small.fw-bolder.ms-4 Shippensburg University
                                            .small.text-muted.ms-4 Shippensburg, PA
                                            .fst-italic
                                            .small.text-muted.ms-5 Bachelor of Science - Computer Engineering
                                            .small.text-muted.ms-5 Mathematics Minor
                                        .col-12.col-md-6.text-center.text-lg-start.mb-4.mb-lg-0
                                        .bg-lighter-cream.p-4.rounded-4
                                            .text-secondary.fw-border.mb-2 Achievements
                                            .small.ms-4
                                                strong GPA: 
                                                |   3.930 
                                            .small.ms-4
                                                strong Deans List: 
                                                |   2021-2025

                            .card.shadow.border-0.rounded-4.mb-5.bg-light-cream
                                .card-body.p-5
                                    .row.g-2
                                        .col-12.col-md-6.text-center.text-lg-start.mb-4.mb-lg-0
                                        .bg-lighter-cream.p-4.rounded-4
                                            .text-secondary.fw-bolder.mb-2 2017-2021
                                            .mb-2
                                            .small.fw-bolder.ms-4 West Perry High School
                                            .small.text-muted.ms-4 Elliotsburg, PA
                                            .fst-italic
                                            .small.text-muted.ms-5 Diploma
                                        .col-12.col-md-6.text-center.text-lg-start.mb-4.mb-lg-0
                                        .bg-lighter-cream.p-4.rounded-4
                                            .text-secondary.fw-border.mb-2 Achievements
                                            .small.ms-4
                                                strong GPA: 
                                                |   93/100
                                            .small.ms-4.mb-2
                                                i.bi.bi-circle-fill.pb-1.me-2.center-svg-dot.d-inline
                                                | Distinguished Honors Graduate
                                            .small.ms-4.mb-2
                                                i.bi.bi-circle-fill.pb-1.me-2.center-svg-dot.d-inline
                                                | Elected National Honors Society Historian
                                            .small.ms-4.mb-2
                                                i.bi.bi-circle-fill.pb-1.me-2.center-svg-dot.d-inline
                                                |  Soccer Team Captain

        // Footer
        include includes/footer.pug

        include includes/scripts.pug