// Custom utilities to extend Bootstrap's utility classes

// Background gradient utility for a primary to secondary gradient
.bg-gradient-primary-to-secondary {
    background: $primary;
    background: linear-gradient(135deg, $primary 0%, $secondary 100%);
}

// Utility for creating gradient text
// Note: When using gradient text, it is best utilized on
// text that has the position set to inline
.text-gradient {
    background: -webkit-linear-gradient(315deg, $primary 0%, $secondary 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// Additional rounded border utility that uses a custom XL border radius (defined in _variables.scss)
.rounded-4 {
    border-radius: $border-radius-xl !important;
}

.bg-cream {
    background: $cream;
}

.bg-light-cream {
    background: $light-cream;
}

.bg-lighter-cream {
    background: $lighter-cream;
}

.primary-star-color {
    color: $primary;
    color: linear-gradient(135deg, $primary 0%, $secondary 100%);
}

.center-svg-dot {
    color: $primary;
    font-size: 0.2rem;
    position: relative; 
    top: -4px;
}

.card:hover {
    transform: scale(1.02);
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.card {
    transform: scale(1);
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.iframe-wrapper {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.iframe-wrapper iframe {
    width: 100%;
    height: 600px;
    border: none;
}