// Variables

// Override Bootstrap Colors
$light_green: #606c38;
$dark_green: #283618;
$light-cream: #f8f7ef;
$lighter-cream: #fdfdf9;
$cream: #FEFAE0;



// Redefine Bootstrap State Colors
$primary: $dark_green;
$secondary: $light_green;

// Bootstrap Variable Functions
$enable-negative-margins: true;

// Override Bootstrap Typography Variables
$font-family-sans-serif: 'Plus Jakarta Sans';
$font-weight-light: 200;

// Custom Border Variables
$border-radius-xl: 1rem;